.env
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
__pycache__/  
*.pyc
*.pyo
*.pyd
*.env
venv/
**/outs/
**/dist/
**/build/
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.coverage
**/.coverage.*
**/htmlcov/
**/.tox/
public/media/
public/static/browser/*.map
utils/pddikti/*.log
utils/pddikti/errors/
utils/pddikti/tmp/
utils/sinta/docs/
