.env
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
__pycache__/  
*.pyc
*.pyo
*.pyd
*.env
venv/
**/outs/
**/dist/
**/build/
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.coverage
**/.coverage.*
**/htmlcov/
**/.tox/
public/media/
media/*
!media/.gitkeep
